@import "papaya.css";

.papaya-toolbar {
    text-align: left;
    box-sizing: content-box;
    position: relative;
    text-shadow: 2px 2px 8px;
    margin-bottom: 0.2cm
}

/*
    add spacing between the toolbar items
*/
.papaya-toolbar .papaya-menu-label{
    margin-right: 0.5cm;
    margin-left: 0.1cm;
    font-size: 22px;

}

/*
    change toolbar menu's text color
*/
.papaya-toolbar .papaya-menu-filechooser{
    color: white;
}

.papaya-toolbar ul {
    margin-left: 0.1cm;
    list-style: none;
    color: white;
    font-size: 18px;

}


.papaya-main-swap {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
    outline: none;
    margin-left: -3.7cm;
    margin-top: -0.2cm;

}

.papaya-main-goto-center {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
    outline: none;
    margin-top: -0.2cm;
}

.papaya-main-goto-origin {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius:0;
    font-size: 14px;
    height: 25px;
    background-color: lightgray;
    outline: none;
    margin-top: -0.2cm;
}

.papaya-dialog {background-color: lightgray;}
/* ------------------------------------ */

/*
    edit the style (Location Impact Score viewer)
*/
#ImageButtonMenu00 {
    background-color: lightgray;
    color: black;
    margin-left: 0.1cm;
}

#ImageButtonMenu10 {
    background-color: lightgray;
    color: black;
    margin-left: 0.1cm;
}

#Color_TableMenu11 {
    background-color: lightgray;
    color: black;
}

/*
    hide elements (Location Impact Score viewer)
*/
#Settings { display: none;}
#Help { display: none;}
#OpenSurface0 { display: none;}
#OpenFolder0 { display: none;}
#OpenDTI0 { display: none;}

#ImageButton01 { display: none;}
#ImageButton00 { display: none;}
#SPACE { display: none;}
/* ------------------------------------ */



/*
    edit the style (Network Impact Score viewer)
*/
#ImageButtonMenu01 {
    background-color: lightgray;
    color: black;
    margin-left: 0.1cm;
}

#ImageButtonMenu11 {
    background-color: lightgray;
    color: black;
    margin-left: 0.1cm;
}

#Color_TableMenu12 {
    background-color: lightgray;
    color: black;
}


/*
    hide elements (Network Impact Score viewer)
*/
#Settings1 { display: none;}
#Help1 { display: none;}
#OpenSurface1 { display: none;}
#OpenFolder1 { display: none;}
#OpenDTI1 { display: none;}

#SPACE1 { display: none;}
/* ------------------------------------ */



/*
    edit the style (User's infarct viewer)
*/
#ImageButtonMenu02 {
    background-color: lightgray;
    color: black;
    margin-left: 0.1cm;
}

#ImageButtonMenu12 {
    background-color: lightgray;
    color: black;
    margin-left: 0.1cm;
}

#Color_TableMenu12 {
    background-color: lightgray;
    color: black;
}

/*
    hide elements (Network Impact Score page)
*/
#Settings2 { display: none;}
#Help2 { display: none;}
#OpenSurface2 { display: none;}
#OpenFolder2 { display: none;}
#OpenDTI2 { display: none;}

#ImageButton02 { display: none;}
#SPACE2 { display: none;}

/*-----------------------*/
#Header {background-color: white;}
#Image_Info {background-color: white;}

/*#getHeaderDescription {color: gray;}

#getHeaderDescription {color: gray;}
.papaya-dialog-content-control {color:gray;}
td.papaya-dialog-content-control {
	  color: gray;
	}
*/

/*#ChangeRange-1Min0 {value: 0.75;}
#DisplayRange-10SliderMin {position: absolute; top: 5px; left: 99px; z-index: 99;}
*/
/*input[id="ChangeRange-1Min2"] { value: 0.75; }
input#ChangeRange-1Min2.papaya-menu-input {
    value: 0.75;
}
​*/
