<!-- templates/upload_image.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Risk scores &#8211; Meta VCI Map</title>

<h1>Desktop application</h1>
<p>You can use the desktop version of the tool to get the scores for more than one files at once and a report of the results saved on your device. </p>
<p>Download the application for your desktop
<a href ="https://github.com/Meta-VCI-Map/LSMviewer/releases" class="wp-block-file__button" download>here</a>
.</p>
<br>

<h1>Online risk scores calculator</h1>
<p>The online tool offers 3D file viewers for the Location Impact Score and the Network Impact Score atlases as well as for the patient's infarct.</p>
<p>Upload the binary mask of an infarct, choose the risk score you wish to calculate & press the button below to get the results.</p>

<h5>Upload your file</h5>

<input id="lis_calculation_url" type="hidden" value="{% url 'lis_calculation' %}"/>
<input id="nis_calculation_url" type="hidden" value="{% url 'nis_calculation' %}"/>
<input id="download_file_url" type="hidden" value="{% url 'download_file' %}"/>
<input id="upload_success" type="hidden" value=""/>


<form method="post" id="infarct" enctype="multipart/form-data">{% csrf_token %}
   {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
<br>

<div id="uploaded"></div>

{% if img_obj %}
    <input id="filename" type="hidden" value="{{filename}}"/>

	<br><br>
	<h3>Image viewer</h3>
	<p>Make the binary mask more easily recognizable on the viewer, by maximizing the minimum value of the color range from the top right button menu</p>
	<!-- Manage file upload  -->
	<div class="papaya" data-params="papayaparams_userUpload" id="fileUpload">
		<script type="text/javascript">
			var papayaparams_userUpload = [];
			papayaparams_userUpload["showOrientation"] = true;
			papayaparams_userUpload["radiological"] = "Yes";
			papayaparams_userUpload["showRuler"] = false;
			papayaparams_userUpload["worldSpace"] = true;

			papayaparams_userUpload["kioskMode"] = false; <!-- don't hide the toolbar -->
			papayaparams_userUpload["showControlBar"] = false;
			papayaparams_userUpload["showControls"] = true;
			papayaparams_userUpload["showImageButtons"] = true;

			papayaparams_userUpload["images"] = [
									"\\static/MNI152_T1_1mm_brain_uint8.nii",
									"\\media/{{ filename }}"
									];
		</script>
	</div>

	<br><br>
    <br><br>
    <h3>Location Impact Score atlas</h3>
    <div class="papaya" data-params="papayaparams"></div><p>&nbsp;</p>
    <br><br>
    <h3>Network Impact Score atlas</h3>
    <div class="papaya" data-params="papayaparams_2"></div><p>&nbsp;</p>
    <br>
    <div class="wrap">
        <h5>Choose the risk score:</h5>
        <form method = "post" id="selection_form" style="width: 7cm !important; min-width: 7cm; max-width: 7cm;">{% csrf_token %}
            <select id="selectScore" name="selectname">
                <option value="lis" id="option1">Location Impact Score</option>
                <option value="nis" id="option2">Network Impact Score</option>
            </select>
        </form>
        <br/>
        <br/>
        <input type="submit" value="Calculate" onclick="calculate_risk_score()">
    </div>
    <br/>

{% endif %}

<div id="results"></div>
<div id="results_download"></div>

<button id="downloadButton" onclick="downloadFunction()" style="display:none">Download</button>
<script type="text/javascript" src="{% static "riskScoreCalculation.js" %}"></script>


{% endblock %}